/** {
    border: 1px solid red;
}*/

#fenetre{
    text-align: center;
    vertical-align: middle;
}

#TeteMonde {
    line-height: 5em;
    font-size : 200%;
    font-weight: bold; 
    font-style : oblique;
    margin-bottom: 2%;
}

img {
    width : 100%;
}

#imageMonde{
    width : 30%;
}

.product {
    float : left;
    width : 10%;
}

.description {
    float : left;
    margin: 3%;
    width : 30%;
}

.quantite {
    width: 80%;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid white;
    background: black;
    color:white;
}

.revenu {
    margin-top: 10px;
    margin: auto;
    background: #C0C0C0;
    width: 100%;
}

.achat, .time { 
    margin-top: 5px;
    width: 48%;
    border: 1px solid black;    
    text-align: right;
    padding:5px;
}

.achat {
    cursor:pointer;
    float : left;
    
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.achat:hover{
    background:lightgrey;
}

.achat .achatQuantite, #managerlogo{
    float:left;
}    

.achat .cout{
    
}

.time  {
    float : right;   
    background: white;
    font-size: 10px;
    padding: 0px;
}

#commutateurButton{
    width : 100px;
    font-weight: bold;
    font-size: 18px 
}

#logo{
    width:30%;
    float : left;
}

#description {
    text-align: center;
}


#hireButton{
    float : left;
}