/*Fenetre complete*/
#fenetre{
    text-align: center;
    vertical-align: middle;
}

/* Bandeau supérieur du monde */
#TeteMonde {
    line-height: 5em;
    font-size : 200%;
    font-weight: bold; 
    font-style : oblique;
    margin-bottom: 2%;
}

#imageMonde{
    width : 30%;
}

#commutateurButton{
    width : 100px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 17%;
}

#joueur {
    margin-top: -17px;
}
textArea {
    height: 25px;
    margin-top: -50px;
    font-size: initial;
    font-weight: initial;
}

/* Bandeau gauche du monde : menu */
#menu .buttonleft{
    margin : 10%;
    margin-left: 4px;
    width : 100%;
}

/* Produit */
.product {
    float : left;
    width : 10%;
}
    /*Présentation gauche du produit : image / quantité */
    img {
        width : 100%;
        }

    .quantite {
        width: 80%;
        z-index: 10;
        border-radius: 10px;
        border: 1px solid white;
        background: black;
        color:white;
    }

    /*Description du produit */
    .description {
        float : left;
        margin: 3%;
        width : 30%;
    }

        .revenu {
            margin-top: 10px;
            margin: auto;
            background: #C0C0C0;
            width: 100%;
        }

        .achat, .time { 
            margin-top: 5px;
            border: 1px solid black;    
            text-align: right;
            padding:5px;
        }
        
            .time  {
                float : right;   
                background: white;
                font-size: 11px;
                width: 40%;
            }

            .achat {
                cursor:pointer;
                float : left;
                width: 56%;
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
            }

            .achat:hover{
                background:lightgrey;
            }

        .achatQuantite{
            float:left;
        }    


/* Fenetre manageur */

.modal-body {
    height: 70%;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.logoManager {
    float:left;
    width : 30%;
}

.modal-body .description, .modal-body .btn{
    margin-top: 10%;
}

.modal-body .description {
    width: auto;
}

.modal-body .description .name{
    font-size: 27px;
    color : burlywood;
    font-family: cursive;
}